@mixin button-size($padding-y , $padding-x , $font-size ,$border-raduis) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-raduis;
}

@mixin button-style(
    $backgroud,
    $border,
    $color,
    $hover-backgroud:lighten($backgroud , 7.5%),
    $hover-border: lighten($border , 10%),
    $hover-color:$color,
) {
    color: $color;
    background: $backgroud;
    border-color: $border;
    &:hover{
        color: $hover-color;
        background: $hover-backgroud;
        border-color: $hover-border;
    }
    &:focus,
    &.focus{
        color: $hover-color;
        background: $hover-backgroud;
        border-color: $hover-border;
    }
}