.alt {
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: $btn-border-width;
    @include button-size($btn-padding-y , $btn-padding-x , $btn-font-size ,$border-radius);
    box-shadow: $btn-box-shadow;
    transition: $btn-transition;
    border-radius: $border-radius;
    width: 600px;
    vertical-align: middle;
}


.alt-danger {
    background-color: red;
}

.alt-default {
    background-color: $primary;
}

.alt-warning {
    background-color: $warning;
}

.close {
    float: right;
    cursor: pointer;
}