.cainiao-autocomplete{
    position: relative;
    width: 400px;
    .cainiao-input{
        input{
            width: 100%;
        }
    }
    .waiting{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 75px;
        width: 100%;
        background-color: #ddd;
    }
    .auto-list{
        list-style: none;
        padding: 0px;
        border: 1px solid #dee2e6;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        z-index: 99;
        border-radius: 5px;
        li{
            padding: 0.5rem 1rem;
            margin:0;
            &:hover{
                color:$primary;
                cursor: pointer;
                transition: color 0.15s ease-in-out;
            }
        }
        .highlighted{
            background-color: $primary;
            color: white;
        }
    }
}

